$TTL 1W
@	IN	SOA	ns1.{{ dns.subdomain }}.{{ dns.domain }}.	root (
			{{ serialnumber }}	; serial
			3H		; refresh (3 hours)
			30M		; retry (30 minutes)
			2W		; expiry (2 weeks)
			1W )		; minimum (1 week)
	IN	NS	ns1.{{ dns.subdomain }}.{{ dns.domain }}.
;
; syntax is "last octet" and the host must have fqdn with trailing dot
{% for m in nodes.masters %}
{{ m.ipaddr.split('.')[3] }}	IN	PTR	{{ m.name }}.{{ dns.subdomain }}.{{ dns.domain }}.
{% endfor %}
;
{{ nodes.bootstrap.ipaddr.split('.')[3] }}	IN	PTR	{{ nodes.bootstrap.name }}.{{ dns.subdomain }}.{{ dns.domain }}.
;
{{ dnsipaddr.split('.')[3] }}	IN	PTR	api.{{ dns.subdomain }}.{{ dns.domain }}.
{{ dnsipaddr.split('.')[3] }}	IN	PTR	api-int.{{ dns.subdomain }}.{{ dns.domain }}.
;
{% for w in nodes.workers %}
{{ w.ipaddr.split('.')[3] }}	IN	PTR	{{ w.name }}.{{ dns.subdomain }}.{{ dns.domain }}.
{% endfor %}
;
;EOF
